*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/gradle.properties
/sample/src/androidTest/
/sample/src/test/
/library/src/androidTest/
/library/src/test/
